/*!*start brown color*!*/
.skin-brown .dd-select{  border: solid 1px #333;  background: #C49A6D;  }
.skin-brown .registration-block form button{background:#C49A6D;}
.skin-brown .form-group label{color:#C49A6D;}
.skin-brown .social-btn-block button{background:#C49A6D;}
.skin-brown .btn-style{background:#C49A6D;}
.skin-brown .content-item-info a{color:#C49A6D}
.skin-brown .modal.feedback .modal-body button{background:#C49A6D;}
.skin-brown .btn-style.close_modal{background:#C49A6D;}
.skin-brown .application_block .btn-style{background:#C49A6D;}
.skin-brown .registration-block p.title {color:#C49A6D}
.skin-brown .modal.feedback .modal-body strong{color:#C49A6D}
.skin-brown .modal.feedback .modal-body .form_item label {color:#C49A6D}
.skin-brown .modal.succsess_feedback {color:#C49A6D}
/*!*end brown color*!*/

/*star black color*/
.skin-black .dd-select{  border: solid 1px #333;  background: #333;  }
.skin-black .registration-block form button{background:#333;}
.skin-black .form-group label{color:#333}
.skin-black .social-btn-block button{background:#333;}
.skin-black .btn-style{background:#333;}
.skin-black .content-item-info a{color:#333}
.skin-black .modal.feedback .modal-body button{background:#333;}
.skin-black .btn-style.close_modal{background:#333;}
.skin-black .application_block .btn-style{background:#333;}
.skin-black .registration-block p.title {color:#333}
.skin-black .modal.feedback .modal-body strong{color:#333}
.skin-black .modal.feedback .modal-body .form_item label {color:#333}
.skin-black .modal.succsess_feedback {color:#333}
/*end black color*/

/*!*star green color*!*/
.skin-green .dd-select{  border: solid 1px #22b373;  background: #22b373;  }
.skin-green .registration-block form button{background:#22b373;}
.skin-green .form-group label{color:#22b373;}
.skin-green .social-btn-block button{background:#22b373;}
.skin-green .btn-style{background:#22b373;}
.skin-green .content-item-info a{color:#22b373}
.skin-green .modal.feedback .modal-body button{background:#22b373;}
.skin-green .btn-style.close_modal{background:#22b373;}
.skin-green .application_block .btn-style{background:#22b373;}
.skin-green .registration-block p.title {color:#22b373}
.skin-green .modal.feedback .modal-body strong{color:#22b373}
.skin-green .modal.feedback .modal-body .form_item label {color:#22b373}
.skin-green .modal.succsess_feedback {color:#22b373}
/*!*end gree color*!*/

/*!*star blue color*!*/
.skin-blue .dd-select{  border: solid 1px #29a9e0;  background: #29a9e0;  }
.skin-blue .registration-block form button{background:#29a9e0;}
.skin-blue .form-group label{color:#29a9e0;}
.skin-blue .social-btn-block button{background:#29a9e0;}
.skin-blue .btn-style{background:#29a9e0;}
.skin-blue .content-item-info a{color:#29a9e0}
.skin-blue .modal.feedback .modal-body button{background:#29a9e0;}
.skin-blue .btn-style.close_modal{background:#29a9e0;}
.skin-blue .application_block .btn-style{background:#29a9e0;}
.skin-blue .registration-block p.title {color:#29a9e0}
.skin-blue .modal.feedback .modal-body strong{color:#29a9e0}
.skin-blue .modal.feedback .modal-body .form_item label {color:#29a9e0}
.skin-blue .modal.succsess_feedback {color:#29a9e0}
/*!*end blue color*!*/

/*!*star orange color*!*/
.skin-orange .dd-select{  border: solid 1px #ef5a24;  background: #ef5a24;  }
.skin-orange .registration-block form button{background:#ef5a24;}
.skin-orange .form-group label{color:#ef5a24;}
.skin-orange .social-btn-block button{background:#ef5a24;}
.skin-orange .btn-style{background:#ef5a24;}
.skin-orange .content-item-info a{color:#ef5a24}
.skin-orange .modal.feedback .modal-body button{background:#ef5a24;}
.skin-orange .btn-style.close_modal{background:#ef5a24;}
.skin-orange .application_block .btn-style{background:#ef5a24;}
.skin-orange .registration-block p.title {color:#ef5a24}
.skin-orange .modal.feedback .modal-body strong{color:#ef5a24}
.skin-orange .modal.feedback .modal-body .form_item label {color:#ef5a24}
.skin-orange .modal.succsess_feedback {color:#ef5a24}
/*!*end orange color*!*/

/*!*star purple color*!*/
.skin-purple .dd-select{  border: solid 1px #662d8f;  background: #662d8f;  }
.skin-purple .registration-block form button{background:#662d8f;}
.skin-purple .form-group label{color:#662d8f;}
.skin-purple .social-btn-block button{background:#662d8f;}
.skin-purple .btn-style{background:#662d8f;}
.skin-purple .content-item-info a{color:#662d8f}
.skin-purple .modal.feedback .modal-body button{background:#662d8f;}
.skin-purple .btn-style.close_modal{background:#662d8f;}
.skin-purple .application_block .btn-style{background:#662d8f;}
.skin-purple .registration-block p.title {color:#662d8f}
.skin-purple .modal.feedback .modal-body strong{color:#662d8f}
.skin-purple .modal.feedback .modal-body .form_item label {color:#662d8f}
.skin-purple .modal.succsess_feedback {color:#662d8f}
/*!*end purple color*!*/
